.wrapper{
    display: flex; 
    width: 100vw;
    height: 100vh;;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 500px;
}

.item {
    background: #acb9af;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.title{
    color: #3ca855;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color:rgb(37, 32, 25);
    max-height: 0;
    overflow: hidden;
    /* transition: all 0.5s cubic-bezier(0,1,0,1); */
}

.content.show{
    height: auto;
    max-height: 9999px;
    /* transition: all 0.5s cubic-bezier(1,0,1,0); */
}