body {
  color: #0a0a0a;
  /* background-color: #efefef; */
  width: 100%;
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}
.wrapper {
  display: flex;
  width: 100vw;

  justify-content: center;
  align-items: center;
}

.accordion {
  width: 500px;
}

.item {
  border: 1px solid black;
  border-image: linear-gradient(
      to right,
      rgb(8, 12, 227) 25%,
      cyan 25%,
      indigo 50%,
      red 75%,
      teal 75%
    )
    5;

  padding: 10px 20px;
  border: 1px solid transparent;
  margin-bottom: 35px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.item:hover {
  border: 1px solid rgb(237, 67, 67);
  border: 1px solid transparent;

  border-image: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    )
    3;
}

.jumbotron {
  /* background-color: #ed4343;
  background-color: #0a0a0a;
  background: rgb(10, 10, 10);
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 48%,
    rgba(237, 67, 67, 1) 74%,
    rgba(255, 255, 255, 1) 96%
  ); */

  background: rgb(10, 10, 10);
  background: linear-gradient(
    90deg,
    rgba(10, 10, 10, 1) 48%,
    rgba(237, 67, 67, 1) 73%,
    rgba(239, 239, 239, 1) 91%,
    rgba(255, 255, 255, 1) 95%
  );
  color: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

h1 {
  padding-bottom: 2px;
  border-bottom: 4px solid #ed4343;
  width: fit-content;
  margin-bottom: 30px;
}

.title {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title_individual_cell {
  border-radius: 2rem;
}
.content {
  color: #3358a2;
  max-height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  background-color: white;
}

/* .primary-nav {
  padding: 16px 32px;
} */
nav {
  padding: 20px;
  margin-bottom: 0;
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 100%;
}
nav a {
  margin: 0rem 1rem;
  color: rgb(237, 67, 67);
}

nav a.active {
  text-decoration: none;
  font-weight: bold;
}
nav img {
  width: 150px;
  margin-right: 50px;
}

/* textarea {
  margin-bottom: 30px;
} */
/* .add-question-button {

  color: white;
  border-radius: 3rem;
  border: 2px;
  padding: 0.3rem;
  margin-bottom: 2rem;
}

.btn-success {
  margin-left: 2rem;

  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 150ms;
  width: 4rem;
  box-sizing: border-box;
  border: 0;
  font-size: 0.85rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-success:not(:disabled):hover,
.btn-success:not(:disabled):focus {
  outline: 0;
  background: #22e14e;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.btn-success:disabled {
  filter: saturate(0) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.btn-danger {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bolder;
  padding: 0.6rem 0.5rem;
  text-align: center;
  transition: 150ms;
  width: 3.5rem;
  box-sizing: border-box;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-danger:not(:disabled):hover,
.btn-danger:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
} */

.form-control {
  width: 50%;
  margin: auto;
}

button {
  background: #ed4343;
  border: 1px solid transparent;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 8px 0;
  margin-right: 20px;
  border-radius: 3px;
}

button:hover {
  border: 1px solid transparent;
  background: black;
  font-weight: bold;
}

.btn-form {
  display: block;
  margin: 0 auto;
  background-color: #0a501a;
  margin-top: 30px;
}

/* @media only screen and (max-width: 600px) {
  body {
  }
} */
